@page
@model IMS.RazorPage.Pages.Mentor.TrainingProgramDetailModel
@{
    ViewData["Title"] = "Training Program Detail";
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    body{
        background-color: ghostwhite;
    }
</style>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
    <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="errorMessage" data-bs-delay="5000">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["ErrorMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" id="successMessage" data-bs-delay="5000">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["SuccessMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@if (Model.TrainingProgram != null)
{
    <div class="text-center">
        <h1 class="text-center mb-4">Training Program: @Model.TrainingProgram.Name</h1>
    </div>
}


<div class="d-flex justify-content-center mb-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateAssignment">
        Create
    </button>
</div>
<div class="d-flex justify-content-center">
    <form method="get" class="w-50">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search Term" name="SearchTerm" asp-for="SearchTerm">
            @if (Model.TrainingProgram != null)
            {
                <input type="hidden" name="name" value="@Model.TrainingProgram.Id" />
            }
            <button class="btn btn-outline-secondary" type="submit" id="buttonSearch">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
</div>


<div class="modal fade" id="modalCreateAssignment" tabindex="-1" aria-labelledby="modalCreateAssignmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreateAssignmentLabel">Create New Assignment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="submit1" method="post" asp-page-handler="CreateAssignment" class="d-flex flex-column gap-3">
                    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="TrainingProgramId" value="@Model.TrainingProgramId" />
                    <div class="form-floating">
                        <input asp-for="AssignmentCreateModel.Name" type="text" class="form-control" id="assignmentName" placeholder="Assignment Name" required />
                        <label asp-for="AssignmentCreateModel.Name" for="assignmentName">Name</label>
                        <span asp-validation-for="AssignmentCreateModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="AssignmentCreateModel.Description" type="text" class="form-control" id="assignmentDescription" placeholder="Description" required />
                        <label asp-for="AssignmentCreateModel.Description" for="assignmentDescription">Description</label>
                        <span asp-validation-for="AssignmentCreateModel.Description" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <div class="form-floating">
                            <input asp-for="AssignmentCreateModel.Type" type="text" class="form-control" id="assignmentType" placeholder="Assignment Type" required />
                            <label asp-for="AssignmentCreateModel.Type" for="assignmentType">Type</label>
                            <span asp-validation-for="AssignmentCreateModel.Type" class="text-danger"></span>
                        </div>

                        <div class="form-floating w-50">
                            <input asp-for="AssignmentCreateModel.KPI" type="text" class="form-control" id="assignmentKPI" placeholder="KPI" required />
                            <label asp-for="AssignmentCreateModel.KPI" for="assignmentKPI">KPI</label>
                            <span asp-validation-for="AssignmentCreateModel.KPI" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between gap-3">
                        <div class="form-floating">
                            <input asp-for="AssignmentCreateModel.Duration" type="number" class="form-control" id="assignmentDuration" placeholder="Duration" required />
                            <label asp-for="AssignmentCreateModel.Duration" for="assignmentDuration">Duration (days)</label>
                            <span asp-validation-for="AssignmentCreateModel.Duration" class="text-danger"></span>
                        </div>
                        <div class="form-floating w-50">
                            <input asp-for="AssignmentCreateModel.StartDate" type="date" class="form-control" id="assignmentStartDate" placeholder="Start Date" required />
                            <label asp-for="AssignmentCreateModel.StartDate" for="assignmentStartDate">Start Date</label>
                            <span asp-validation-for="AssignmentCreateModel.StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating">
                        <input asp-for="AssignmentCreateModel.Material" type="text" class="form-control" id="assignmentMaterial" placeholder="Material" />
                        <label asp-for="AssignmentCreateModel.Material" for="assignmentMaterial">Material</label>
                        <span asp-validation-for="AssignmentCreateModel.Material" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="AssignmentCreateModel.InternEmail" type="email" class="form-control" id="assignmentInternEmail" placeholder="Intern Email" />
                        <label asp-for="AssignmentCreateModel.InternEmail" for="assignmentInternEmail">Intern Email</label>
                        <span asp-validation-for="AssignmentCreateModel.InternEmail" class="text-danger"></span>
                    </div>
                    @if (Model.TrainingProgram != null)
                    {
                        <input type="hidden" asp-for="AssignmentCreateModel.TrainingProgramId" value="@Model.TrainingProgram.Id" />
                    }

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="submit1" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="m-4">

    <div class="container d-flex">

        <!-- Training Program Column -->
        @if (Model.Assignments != null && Model.Assignments.Any())
        {
            <div class="col-md-5">
                @foreach (var assignment in Model.Assignments)
                {
                    var modalId = $"modal-{assignment.Id}";
                    var deleteModalId = $"modal-{assignment.Id}-delete";

                    <div class="d-flex flex-column border rounded p-3 mb-3 bg-white">
                        <div class="text-center">
                            <p class="mb-1"><strong>@assignment.Name</strong></p>
                        </div>
                        <p class="mb-1"><strong>Description: </strong>@assignment.Description</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="mb-1"><strong>Type: </strong>@assignment.Type</p>
                                <p class="mb-1"><strong>Duration: </strong>@assignment.Duration</p>
                            </div>
                            <div>
                                <p class="mb-1"><strong>Start Date: </strong>@assignment.StartDate?.ToShortDateString()</p>
                                <p class="mb-1"><strong>End Date: </strong>@assignment.EndDate?.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center mt-3 gap-2">
                            <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#@modalId">
                                Edit
                            </button>
                            <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#@deleteModalId">
                                Delete
                            </button>
                        </div>
                        
                    </div>

                    <div class="modal fade" id="@deleteModalId" tabindex="-1" aria-labelledby="@deleteModalId-Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="@deleteModalId-Label">Confirm Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete assignment <strong>@assignment.Name</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" asp-page-handler="DeleteAssignment" asp-route-id="@assignment.Id" asp-route-name="@Model.TrainingProgram.Id">
                                        <input type="hidden" name="AssignmentId" value="@assignment.Id" />
                                        <input type="hidden" asp-for="TrainingProgramId" value="@Model.TrainingProgramId" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Edit Assignment Modal -->
                    <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalId-Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="@modalId-Label">Edit Assignment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" asp-page-handler="EditAssignment" asp-route-id ="@assignment.Id" class="d-flex flex-column gap-4">
                                        <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>

                                        <!-- Include assignment ID for identification -->
                                        <input type="hidden" asp-for="AssignmentUpdateModel.Id" value="@assignment.Id" />
                                        <input type="hidden" asp-for="TrainingProgramId" value="@Model.TrainingProgramId" />
                                        @if (Model.TrainingProgram != null)
                                        {
                                            <input asp-for="AssignmentUpdateModel.TrainingProgramId" value=@Model.TrainingProgram.Id hidden />
                                        }

                                        <div class="form-floating mb-3">
                                            <input asp-for="AssignmentUpdateModel.Name" value="@assignment.Name" type="text" class="form-control" id="floatingInput" placeholder="" required />
                                            <label asp-for="AssignmentUpdateModel.Name" for="floatingInput"></label>
                                            <span asp-validation-for="AssignmentUpdateModel.Name" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="AssignmentUpdateModel.Description" value="@assignment.Description" type="text" class="form-control" id="floatingInput" placeholder="" required />
                                            <label asp-for="AssignmentUpdateModel.Description" for="floatingInput"></label>
                                            <span asp-validation-for="AssignmentUpdateModel.Description" class="text-danger"></span>
                                        </div>

                                        <div class="d-flex justify-content-between mb-3 gap-3">
                                            <div class="form-floating">
                                                <input asp-for="AssignmentUpdateModel.Type" value="@assignment.Type" type="text" class="form-control" id="floatingInput" placeholder="" required />
                                                <label asp-for="AssignmentUpdateModel.Type" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.Type" class="text-danger"></span>
                                            </div>

                                            <div class="form-floating w-50">
                                                <input asp-for="AssignmentUpdateModel.KPI" value="@assignment.KPI" type="text" class="form-control" id="floatingInput" placeholder="" required />
                                                <label asp-for="AssignmentUpdateModel.KPI" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.KPI" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-3 gap-3">
                                            <div class="form-floating">
                                                <input asp-for="AssignmentUpdateModel.Duration" value="@assignment.Duration" type="number" class="form-control" id="floatingInput" placeholder="" required />
                                                <label asp-for="AssignmentUpdateModel.Duration" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.Duration" class="text-danger"></span>
                                            </div>

                                            <div class="form-floating w-50">
                                                <input asp-for="AssignmentUpdateModel.StartDate" value="@assignment.StartDate?.ToString("yyyy-MM-dd")" type="date" class="form-control" id="floatingInput" placeholder="" required />
                                                <label asp-for="AssignmentUpdateModel.StartDate" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.StartDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-3 gap-3">
                                            <div class="form-floating">
                                                <input asp-for="AssignmentUpdateModel.Material" value="@assignment.Material" type="text" class="form-control" id="floatingInput" placeholder="" />
                                                <label asp-for="AssignmentUpdateModel.Material" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.Material" class="text-danger"></span>
                                            </div>

                                            <div class="form-floating w-50">
                                                <input asp-for="AssignmentUpdateModel.PerformanceRating" value="@assignment.PerformanceRating" type="number" class="form-control" id="floatingInput" placeholder="" />
                                                <label asp-for="AssignmentUpdateModel.PerformanceRating" for="floatingInput"></label>
                                                <span asp-validation-for="AssignmentUpdateModel.PerformanceRating" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="AssignmentUpdateModel.InternEmail" value="@(assignment.Intern != null ? assignment.Intern?.Email : "")" type="email" class="form-control" id="floatingInput" placeholder="" />
                                            <label asp-for="AssignmentUpdateModel.InternEmail" for="floatingInput">Intern email</label>
                                            <span asp-validation-for="AssignmentUpdateModel.InternEmail" class="text-danger"></span>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input asp-for="AssignmentUpdateModel.Comment" value="@assignment.Comment" type="text" class="form-control" id="floatingInput" placeholder="" />
                                            <label asp-for="AssignmentUpdateModel.Comment" for="floatingInput"></label>
                                            <span asp-validation-for="AssignmentUpdateModel.Comment" class="text-danger"></span>
                                        </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit"  class="btn btn-primary">Save</button>
                                </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.TotalAccounts > Model.PageSize)
                {
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination justify-content-center">
                            @for (var i = 1; i <= Math.Ceiling((double)Model.TotalAccounts / Model.PageSize); i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="?PageNumber=@i&trainingProgramId=@Model.TrainingProgramId">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>

                }
            </div>
        }
        else
        {
            <p class="text-center">No assignments found.</p>
        }
        <!-- Feedback Column -->
        @* <div class="col-md-7"> *@
        @if (Model.Feedbacks != null && Model.Feedbacks.Any())
        {
            <div class="col-md-7 border rounded p-3 bg-white" style="margin-left : 10px">

                <div class="">
                    <h5 class="text-center"><strong>Feedbacks</strong></h5>
                    @foreach (var feedback in Model.Feedbacks)
                    {
                        <div class="message">
                            <p><strong>@feedback.Intern.FullName:</strong> @feedback.Comment</p>
                            @* <p>@feedback.CreationDate</p> *@
                        </div>
                    }
                </div>

                <!-- Pagination -->
                @if (Model.TotalFeedbacks > Model.PageSize)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @for (var i = 1; i <= Math.Ceiling((double)Model.TotalFeedbacks / Model.PageSize); i++)
                            {
                                <li class="page-item @(i == Model.FeedbackPageNumber ? "active" : "")">
                                    <a class="page-link" href="?FeedbackPageNumber=@i&trainingProgramId=@Model.TrainingProgramId">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }


            </div>
        }
        else
        {
            <div class="text-center" role="alert">
                No feedback found.
            </div>
        }
    </div>

</div>


@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            var errorMessage = document.getElementById('errorMessage');
            var successMessage = document.getElementById('successMessage');
            if (errorMessage && errorMessage.querySelector('.toast-body').textContent.trim() !== '') {
                new bootstrap.Toast(errorMessage).show();
            }
            if (successMessage && successMessage.querySelector('.toast-body').textContent.trim() !== '') {
                new bootstrap.Toast(successMessage).show();
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
}

